*{
    box-sizing: border-box;  
}

body{
  width: 100%;
}

#calculatorwebsite{
    display: grid;
    grid-template-columns: 500px ;
    width: 600px;
    border-radius: 35px;
    margin-left: 30%;

}

#display{
    padding-bottom:30px;
    padding-top: 20px;
}

#display input{
    width: 550px;
    height: 130px;
    border-radius: 25px;
    font-size: 70px;
    margin-left: 16px;
    text-align:right;
    padding-right: 8px;

}

#buttonarea{
    margin-left: 40px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}


button{
    font-size: 40px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    font-weight: 700;
}

.sign{
    border-width: 3px;
}


.light-dark-btn{
    height: 90px;
    width: 90px;
    justify-content: center;
}


  .label {
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-self: center;
	justify-content: space-between;
	height: 20px;
	width: 40px;
	transform: scale(1.5);
    align-self: center;

}

.label .ball {
	border-radius: 50%;
	position: absolute;
	height: 20px;
	width: 20px;
	transform: translateX(0px);
	transition: transform 0.25s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(20px);
}

.checkbox{
    opacity: 0;
}

.fa-moon {
  transform: rotate(-20deg);
}

.label i{
font-size: 0.9rem;
display: flex;
align-self:center;
justify-content: space-around;
padding: 0 2px;
}

